$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Info-circle: "\e907";
$icon-chevron-right: "\e900";
$icon-empty: "\e901";
$icon-laptop-gear: "\e902";
$icon-life-saver: "\e903";
$icon-magnifying-glass: "\e904";
$icon-squares: "\e905";
$icon-success-circle: "\e906";
