@import "../../../common/colors";
@import "../../../common/text";

.project-proposals-wrapper {

  .item {
    font-family: $bold-light;

    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 45px;
      border-bottom: 1px solid $light-gray;
    }

    .action-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .stats {
        display: flex;

        .stat {
          font-family: $main-font;
        }

        span:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    .vote-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .vote-data {
        display: flex;

        .vote-item {
          display: flex;
          margin-right: 15px;
        }

        .label {
          font-family: $bold-light;
          margin-right: 30px;
        }
      }

      .voting-actions {
        display: flex;

        .button {
          margin: 0;
          width: 96px;
          height: 23px;
          padding: 0;

          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
