@import "../../../../common/colors";

.project-finance-withdraw-history-wrapper {
  margin-top: 90px;

  .main-label {
    margin-bottom: 45px;
  }

  .item {

    &:not(:last-child) {
      padding-bottom: 35px;
      margin-bottom: 15px;
      border-bottom: 1px solid $light-gray;
    }

    .item-header-wrapper {
      display: flex;

      span:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
