.start-project-wrapper {
  margin-top: 90px;
  padding-bottom: 60px;

  .sub-title {
    margin-bottom: 60px;
  }

  .form-wrapper {
    max-width: 467px;

    .form-item-wrapper .second-label {
      max-width: 226px;
    }

    .buttons-wrapper .button {
      margin-right: 0;
    }
  }
}
