.project-fund-modal-wrapper {

  .form-wrapper {
    margin-top: 15px;

    .form-item-wrapper .second-label {
      max-width: 226px;
    }

    .buttons-wrapper .button {
      margin-right: 0;
    }
  }
}
