@import "../../common/text";
@import "../../common/colors";
@import "../../common/variables";

.header-wrapper {
  padding: 19px 0;
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.5);

  .width-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper {
    @include hover-transition;

    &:hover img {
      opacity: 0.7;
    }
  }

  .links-wrapper a {
    @include hover-transition;
    color: $black;

    &:not(:last-child) { margin-right: 30px; }

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }

    &.active { text-decoration: underline; }
  }
}
