@font-face {
  font-family: 'Sansation_Light';
  src: url('fonts/Sansation_Light.eot');
  src: url('fonts/Sansation_Light.eot') format('embedded-opentype'),
  url('fonts/Sansation_Light.woff2') format('woff2'),
  url('fonts/Sansation_Light.woff') format('woff'),
  url('fonts/Sansation_Light.ttf') format('truetype'),
  url('fonts/Sansation_Light.svg#Sansation_Light') format('svg');
}
@font-face {
  font-family: 'Sansation_Regular';
  src: url('fonts/Sansation_Regular.eot');
  src: url('fonts/Sansation_Regular.eot') format('embedded-opentype'),
  url('fonts/Sansation_Regular.woff2') format('woff2'),
  url('fonts/Sansation_Regular.woff') format('woff'),
  url('fonts/Sansation_Regular.ttf') format('truetype'),
  url('fonts/Sansation_Regular.svg#Sansation_Regular') format('svg');
}
@font-face {
  font-family: 'Sansation_Bold';
  src: url('fonts/Sansation_Bold.eot');
  src: url('fonts/Sansation_Bold.eot') format('embedded-opentype'),
  url('fonts/Sansation_Bold.woff2') format('woff2'),
  url('fonts/Sansation_Bold.woff') format('woff'),
  url('fonts/Sansation_Bold.ttf') format('truetype'),
  url('fonts/Sansation_Bold.svg#Sansation_Bold') format('svg');
}
