@import './colors';
@import './variables';
@import './text';

.form-wrapper {
  width: 100%;
  position: relative;

  .form-item-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:not(:last-child) { margin-bottom: 30px; }
    &.last { margin-bottom: 0; }

    &.form-item-wrapper-textarea {
      align-items: flex-start;
    }

    .input-values {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    label {
      display: flex;
      align-items: center;
      font-size: $font-size-heading-4;
      font-family: $bold-light;
      margin-bottom: 30px;
      color: black;

      &.two-labels {
        margin-bottom: 15px;
      }
    }

    .second-label {
      text-align: left;
      margin-bottom: 30px;
      display: flex;
      font-family: $bold-light;
      align-items: center;
    }

    .form-item-textarea {
      height: 70px;
      max-width: 100%;
    }

    .form-item {
      width: 100%;
      color: $black;
      background: transparent;
      border: 2px solid $orange;
      padding: 9px 13px;
      border-radius: 3px;

      &::placeholder {
        color: $light-gray;
        opacity: 1;
      }
    }

    div.form-item-error {
      color: $red;
      text-align: left;
      padding: 15px 13px;
    }
  }

  .submit-error-wrapper {
    flex-grow: 1;
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    line-height: 30px;
    color: $red;
    flex-shrink: 0;
    justify-content: center;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: flex-end;

    .button:first-child {
      margin-right: 30px;
    }
  }

  .filed-array-wrapper {
    text-align: left;

    .items-list {
      padding: 0;
      margin: 0;
      list-style: none;

      .form-item-wrapper {
        margin-bottom: 15px;
      }
    }

    .add-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        svg, .label { opacity: 0.7; }
      }

      .label { @include hover-transition; }

      svg {
        @include hover-transition;
        margin-right: 15px;
      }
    }
  }
}
